{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "plugins": [ "import" ],
  "env": {
    "node": true
  },
  "rules": {
    "prefer-arrow-callback": 2,
    "semi": [ 2, "never" ]
  }
}
