{
  "parser": "babel-eslint",
  "plugins": [
    "import"
  ],
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "prefer-arrow-callback": 2,
    "semi": [ 2, "never" ]
  }
}
